.t-auto {
  top: auto !important;
}

.b-auto {
  bottom: auto !important;
}

.l-auto {
  left: auto !important;
}

.r-auto {
  right: auto !important;
}

.m-auto {
  margin-top: auto !important;
  margin-right: auto !important;
  margin-bottom: auto !important;
  margin-left: auto !important;
}

.mt-auto {
  margin-top: auto !important;
}

.mr-auto {
  margin-right: auto !important;
}

.mb-auto {
  margin-bottom: auto !important;
}

.ml-auto {
  margin-left: auto !important;
}

.mx-auto {
  margin-left: auto !important;
  margin-right: auto !important;
}

.my-auto {
  margin-top: auto !important;
  margin-bottom: auto !important;
}

.p-auto {
  padding-top: auto !important;
  padding-right: auto !important;
  padding-bottom: auto !important;
  padding-left: auto !important;
}

.pt-auto {
  padding-top: auto !important;
}

.pr-auto {
  padding-right: auto !important;
}

.pb-auto {
  padding-bottom: auto !important;
}

.pl-auto {
  padding-left: auto !important;
}

.px-auto {
  padding-left: auto !important;
  padding-right: auto !important;
}

.py-auto {
  padding-top: auto !important;
  padding-bottom: auto !important;
}

.t-0 {
  top: 0 !important;
}

.b-0 {
  bottom: 0 !important;
}

.l-0 {
  left: 0 !important;
}

.r-0 {
  right: 0 !important;
}

.m-0 {
  margin-top: 0 !important;
  margin-right: 0 !important;
  margin-bottom: 0 !important;
  margin-left: 0 !important;
}

.mt-0 {
  margin-top: 0 !important;
}

.mr-0 {
  margin-right: 0 !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.ml-0 {
  margin-left: 0 !important;
}

.mx-0 {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.my-0 {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.p-0 {
  padding-top: 0 !important;
  padding-right: 0 !important;
  padding-bottom: 0 !important;
  padding-left: 0 !important;
}

.pt-0 {
  padding-top: 0 !important;
}

.pr-0 {
  padding-right: 0 !important;
}

.pb-0 {
  padding-bottom: 0 !important;
}

.pl-0 {
  padding-left: 0 !important;
}

.px-0 {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.py-0 {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.t-2xs {
  top: 4px !important;
}

.b-2xs {
  bottom: 4px !important;
}

.l-2xs {
  left: 4px !important;
}

.r-2xs {
  right: 4px !important;
}

.m-2xs {
  margin-top: 4px !important;
  margin-right: 4px !important;
  margin-bottom: 4px !important;
  margin-left: 4px !important;
}

.mt-2xs {
  margin-top: 4px !important;
}

.mr-2xs {
  margin-right: 4px !important;
}

.mb-2xs {
  margin-bottom: 4px !important;
}

.ml-2xs {
  margin-left: 4px !important;
}

.mx-2xs {
  margin-left: 4px !important;
  margin-right: 4px !important;
}

.my-2xs {
  margin-top: 4px !important;
  margin-bottom: 4px !important;
}

.p-2xs {
  padding-top: 4px !important;
  padding-right: 4px !important;
  padding-bottom: 4px !important;
  padding-left: 4px !important;
}

.pt-2xs {
  padding-top: 4px !important;
}

.pr-2xs {
  padding-right: 4px !important;
}

.pb-2xs {
  padding-bottom: 4px !important;
}

.pl-2xs {
  padding-left: 4px !important;
}

.px-2xs {
  padding-left: 4px !important;
  padding-right: 4px !important;
}

.py-2xs {
  padding-top: 4px !important;
  padding-bottom: 4px !important;
}

.t-xs {
  top: 8px !important;
}

.b-xs {
  bottom: 8px !important;
}

.l-xs {
  left: 8px !important;
}

.r-xs {
  right: 8px !important;
}

.m-xs {
  margin-top: 8px !important;
  margin-right: 8px !important;
  margin-bottom: 8px !important;
  margin-left: 8px !important;
}

.mt-xs {
  margin-top: 8px !important;
}

.mr-xs {
  margin-right: 8px !important;
}

.mb-xs {
  margin-bottom: 8px !important;
}

.ml-xs {
  margin-left: 8px !important;
}

.mx-xs {
  margin-left: 8px !important;
  margin-right: 8px !important;
}

.my-xs {
  margin-top: 8px !important;
  margin-bottom: 8px !important;
}

.p-xs {
  padding-top: 8px !important;
  padding-right: 8px !important;
  padding-bottom: 8px !important;
  padding-left: 8px !important;
}

.pt-xs {
  padding-top: 8px !important;
}

.pr-xs {
  padding-right: 8px !important;
}

.pb-xs {
  padding-bottom: 8px !important;
}

.pl-xs {
  padding-left: 8px !important;
}

.px-xs {
  padding-left: 8px !important;
  padding-right: 8px !important;
}

.py-xs {
  padding-top: 8px !important;
  padding-bottom: 8px !important;
}

.t-s {
  top: 12px !important;
}

.b-s {
  bottom: 12px !important;
}

.l-s {
  left: 12px !important;
}

.r-s {
  right: 12px !important;
}

.m-s {
  margin-top: 12px !important;
  margin-right: 12px !important;
  margin-bottom: 12px !important;
  margin-left: 12px !important;
}

.mt-s {
  margin-top: 12px !important;
}

.mr-s {
  margin-right: 12px !important;
}

.mb-s {
  margin-bottom: 12px !important;
}

.ml-s {
  margin-left: 12px !important;
}

.mx-s {
  margin-left: 12px !important;
  margin-right: 12px !important;
}

.my-s {
  margin-top: 12px !important;
  margin-bottom: 12px !important;
}

.p-s {
  padding-top: 12px !important;
  padding-right: 12px !important;
  padding-bottom: 12px !important;
  padding-left: 12px !important;
}

.pt-s {
  padding-top: 12px !important;
}

.pr-s {
  padding-right: 12px !important;
}

.pb-s {
  padding-bottom: 12px !important;
}

.pl-s {
  padding-left: 12px !important;
}

.px-s {
  padding-left: 12px !important;
  padding-right: 12px !important;
}

.py-s {
  padding-top: 12px !important;
  padding-bottom: 12px !important;
}

.t-m {
  top: 16px !important;
}

.b-m {
  bottom: 16px !important;
}

.l-m {
  left: 16px !important;
}

.r-m {
  right: 16px !important;
}

.m-m {
  margin-top: 16px !important;
  margin-right: 16px !important;
  margin-bottom: 16px !important;
  margin-left: 16px !important;
}

.mt-m {
  margin-top: 16px !important;
}

.mr-m {
  margin-right: 16px !important;
}

.mb-m {
  margin-bottom: 16px !important;
}

.ml-m {
  margin-left: 16px !important;
}

.mx-m {
  margin-left: 16px !important;
  margin-right: 16px !important;
}

.my-m {
  margin-top: 16px !important;
  margin-bottom: 16px !important;
}

.p-m {
  padding-top: 16px !important;
  padding-right: 16px !important;
  padding-bottom: 16px !important;
  padding-left: 16px !important;
}

.pt-m {
  padding-top: 16px !important;
}

.pr-m {
  padding-right: 16px !important;
}

.pb-m {
  padding-bottom: 16px !important;
}

.pl-m {
  padding-left: 16px !important;
}

.px-m {
  padding-left: 16px !important;
  padding-right: 16px !important;
}

.py-m {
  padding-top: 16px !important;
  padding-bottom: 16px !important;
}

.t-l {
  top: 24px !important;
}

.b-l {
  bottom: 24px !important;
}

.l-l {
  left: 24px !important;
}

.r-l {
  right: 24px !important;
}

.m-l {
  margin-top: 24px !important;
  margin-right: 24px !important;
  margin-bottom: 24px !important;
  margin-left: 24px !important;
}

.mt-l {
  margin-top: 24px !important;
}

.mr-l {
  margin-right: 24px !important;
}

.mb-l {
  margin-bottom: 24px !important;
}

.ml-l {
  margin-left: 24px !important;
}

.mx-l {
  margin-left: 24px !important;
  margin-right: 24px !important;
}

.my-l {
  margin-top: 24px !important;
  margin-bottom: 24px !important;
}

.p-l {
  padding-top: 24px !important;
  padding-right: 24px !important;
  padding-bottom: 24px !important;
  padding-left: 24px !important;
}

.pt-l {
  padding-top: 24px !important;
}

.pr-l {
  padding-right: 24px !important;
}

.pb-l {
  padding-bottom: 24px !important;
}

.pl-l {
  padding-left: 24px !important;
}

.px-l {
  padding-left: 24px !important;
  padding-right: 24px !important;
}

.py-l {
  padding-top: 24px !important;
  padding-bottom: 24px !important;
}

.t-xl {
  top: 32px !important;
}

.b-xl {
  bottom: 32px !important;
}

.l-xl {
  left: 32px !important;
}

.r-xl {
  right: 32px !important;
}

.m-xl {
  margin-top: 32px !important;
  margin-right: 32px !important;
  margin-bottom: 32px !important;
  margin-left: 32px !important;
}

.mt-xl {
  margin-top: 32px !important;
}

.mr-xl {
  margin-right: 32px !important;
}

.mb-xl {
  margin-bottom: 32px !important;
}

.ml-xl {
  margin-left: 32px !important;
}

.mx-xl {
  margin-left: 32px !important;
  margin-right: 32px !important;
}

.my-xl {
  margin-top: 32px !important;
  margin-bottom: 32px !important;
}

.p-xl {
  padding-top: 32px !important;
  padding-right: 32px !important;
  padding-bottom: 32px !important;
  padding-left: 32px !important;
}

.pt-xl {
  padding-top: 32px !important;
}

.pr-xl {
  padding-right: 32px !important;
}

.pb-xl {
  padding-bottom: 32px !important;
}

.pl-xl {
  padding-left: 32px !important;
}

.px-xl {
  padding-left: 32px !important;
  padding-right: 32px !important;
}

.py-xl {
  padding-top: 32px !important;
  padding-bottom: 32px !important;
}

.t-2xl {
  top: 40px !important;
}

.b-2xl {
  bottom: 40px !important;
}

.l-2xl {
  left: 40px !important;
}

.r-2xl {
  right: 40px !important;
}

.m-2xl {
  margin-top: 40px !important;
  margin-right: 40px !important;
  margin-bottom: 40px !important;
  margin-left: 40px !important;
}

.mt-2xl {
  margin-top: 40px !important;
}

.mr-2xl {
  margin-right: 40px !important;
}

.mb-2xl {
  margin-bottom: 40px !important;
}

.ml-2xl {
  margin-left: 40px !important;
}

.mx-2xl {
  margin-left: 40px !important;
  margin-right: 40px !important;
}

.my-2xl {
  margin-top: 40px !important;
  margin-bottom: 40px !important;
}

.p-2xl {
  padding-top: 40px !important;
  padding-right: 40px !important;
  padding-bottom: 40px !important;
  padding-left: 40px !important;
}

.pt-2xl {
  padding-top: 40px !important;
}

.pr-2xl {
  padding-right: 40px !important;
}

.pb-2xl {
  padding-bottom: 40px !important;
}

.pl-2xl {
  padding-left: 40px !important;
}

.px-2xl {
  padding-left: 40px !important;
  padding-right: 40px !important;
}

.py-2xl {
  padding-top: 40px !important;
  padding-bottom: 40px !important;
}

.t-3xl {
  top: 52px !important;
}

.b-3xl {
  bottom: 52px !important;
}

.l-3xl {
  left: 52px !important;
}

.r-3xl {
  right: 52px !important;
}

.m-3xl {
  margin-top: 52px !important;
  margin-right: 52px !important;
  margin-bottom: 52px !important;
  margin-left: 52px !important;
}

.mt-3xl {
  margin-top: 52px !important;
}

.mr-3xl {
  margin-right: 52px !important;
}

.mb-3xl {
  margin-bottom: 52px !important;
}

.ml-3xl {
  margin-left: 52px !important;
}

.mx-3xl {
  margin-left: 52px !important;
  margin-right: 52px !important;
}

.my-3xl {
  margin-top: 52px !important;
  margin-bottom: 52px !important;
}

.p-3xl {
  padding-top: 52px !important;
  padding-right: 52px !important;
  padding-bottom: 52px !important;
  padding-left: 52px !important;
}

.pt-3xl {
  padding-top: 52px !important;
}

.pr-3xl {
  padding-right: 52px !important;
}

.pb-3xl {
  padding-bottom: 52px !important;
}

.pl-3xl {
  padding-left: 52px !important;
}

.px-3xl {
  padding-left: 52px !important;
  padding-right: 52px !important;
}

.py-3xl {
  padding-top: 52px !important;
  padding-bottom: 52px !important;
}
/*# sourceMappingURL=style.css.map */